
/* 
GENERAL 
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  width: 80%;
  font-family: sans-serif;
}


/* 
UTILITIES 
*/

h2{
  text-transform: uppercase;
  font-size: 20px;
}

.product-description{
  text-align: left;
}

.last-price{
  color: red;
}

.brand, .old-price{
  color: gray;
}

.old-price{
  text-decoration: line-through;
}



/* Products Area */

section{
  text-align: center;
  margin-bottom: 50px;
}

section .product{
  margin-top: 30px;
  margin-bottom: 20px;
  display: inline-block;
  width: 30%;
}


section .product div img{
  width: 100%;
  padding-right: 10px;
  padding-bottom: 10px;
}

section .product div{
  position: relative;
}



/* Etichette prodotto */

.sconto, .tipologia-prodotto, .tipologia-prodotto-nosconto{
  background-color: red;
  position: absolute;
  top: 90%;
  left: 0%;
  z-index: 100;
  padding: 5px;
  color: white;
}


.tipologia-prodotto{
  background-color: #27875A;
  top: 90%;
  left: 10%;
}

.tipologia-prodotto-nosconto{
  background-color: #27875A;
  top: 90%;
  left: 0%;
}

.favourite{
  position: absolute;
  z-index: 100;
  background-color: white;
  padding: 20px;
  top: 5%;
  left: 88%;
}



/* Hover */

.unhidden{
  display: none;
}

.product-card:hover .hidden{
  display: none;
}

.product-card:hover .unhidden{
  display: block; 
} 
