
/* 
GENERAL 
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  width: 80%;
  font-family: sans-serif;

}


/* 
UTILITIES 
*/

h2{
  text-transform: uppercase;
  font-size: 20px;
}

.product-description{
  text-align: left;
}

.last-price{
  color: red;
}

.brand, .old-price{
  color: gray;
}

.old-price{
  text-decoration: line-through;
}



/* Products Area */

section{
  text-align: center;
  margin-bottom: 50px;
}

section .product{
  margin-top: 30px;
  margin-bottom: 20px;
  display: inline-block;
  width: 30%;
  padding: 10px;
}


section .product div img{
  width: 100%;
}

section .product-card{
  position: relative;
  padding-bottom: 10px;
}




/* Etichette prodotto */

.card-promo{
  position: absolute;
  left: 0;
  bottom: 40px;
  text-align: left;
}

.card-promo strong{
  color: white;
  padding: 5px;
}

.sconto{
  background-color: red;
}

.tipologia-prodotto{
  background-color: #27875A;
  bottom: 20px;
  left: 0px;
}

.favourite{
  position: absolute;
  z-index: 100;
  background-color: white;
  padding: 15px;
  top: 50px;
  right: 0;
  font-size: 20px;
}



/* Hover */

.unhidden{
  display: none;
}

.product-card:hover .hidden{
  display: none;
}

.product-card:hover .unhidden{
  display: inline-block; 
} 


span.favourite:hover{
  color: red;
}